<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <link rel="stylesheet" href="/errorStyle.css">
</head>
<body>
    
    <h2 class="error_message"><%= er%></h2>

    <form method="get" action="/">
        <button class="analyzeNewUrl">Analyze for a new url</button>
    </form>

</body>
</html>